<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <title>Shipment Project</title>
</head>

<body>
  <section class="section">
    <div class="container">
          <div id="app"><!-- React --></div>       
    </div>
  </section>
</body>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>